<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated red -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="red.presentation.RedModelWizardID"
            name="%_UI_RedModelWizard_label"
            class="red.presentation.RedModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/RedModelFile.gif">
         <description>%_UI_RedModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated red -->
      <editor
            id="red.presentation.RedEditorID"
            name="%_UI_RedEditor_label"
            icon="icons/full/obj16/RedModelFile.gif"
            extensions="red"
            class="red.presentation.RedEditor"
            contributorClass="red.presentation.RedActionBarContributor">
      </editor>
   </extension>

</plugin>
