<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="dasoft.introeclipse.tipoftheday.tipsource">
      <TipSource
            class="dasoft.introeclipse.tipohtheday.prueba.TipSource1"
            name="TipSource1">
      </TipSource>
   </extension>

</plugin>
