<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated cuestionario -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="cuestionario.presentation.CuestionarioModelWizardID"
            name="%_UI_CuestionarioModelWizard_label"
            class="cuestionario.presentation.CuestionarioModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CuestionarioModelFile.gif">
         <description>%_UI_CuestionarioModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated cuestionario -->
      <editor
            id="cuestionario.presentation.CuestionarioEditorID"
            name="%_UI_CuestionarioEditor_label"
            icon="icons/full/obj16/CuestionarioModelFile.gif"
            extensions="cuestionario"
            class="cuestionario.presentation.CuestionarioEditor"
            contributorClass="cuestionario.presentation.CuestionarioActionBarContributor">
      </editor>
   </extension>

</plugin>
