<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="dasoft.introeclipse.wizard.wizardsource" name="Source of wizard" schema="schema/dasoft.introeclipse.wizard.wizardsource.exsd"/>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="dasoft.introeclipse.wizard.handlers.WizardHandler"
            commandId="dasoft.introeclipse.wizard.commands.wizard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="dasoft.introeclipse.wizard.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="dasoft.introeclipse.wizard.toolbars.sampleToolbar">
            <command
                  commandId="dasoft.introeclipse.wizard.commands.wizard"
                  icon="icons/sample.png"
                  id="dasoft.introeclipse.wizard.toolbars.wizard"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="dasoft.introeclipse.wizard.commands.category"
            name="Wizard">
      </category>
      <command
            categoryId="dasoft.introeclipse.wizard.commands.category"
            id="dasoft.introeclipse.wizard.commands.wizard"
            name="Wizard">
      </command>
   </extension>

</plugin>
